<form action='/figures' method="post">
	
	<p> Name of Figure
	<input type="text" name="figure[name]" id="figure_name"></p>

	<p>Choose a landmark for your figure:</p>
	<% @landmarks.each do |landmark| %>
		
		
	<input type="checkbox" name="figure[landmark_ids][]" value="<%=landmark.id%>" id="landmark_<%=landmark.id%>"><%=landmark.name%></input>
		
	<% end %>


	<p>...and/or create a new landmark for your figure:</p>
	<label>New Landmark:</label>
	<input type="text" name="landmark[name]" id="new_landmark">



	<p>Choose a title for your figure:</p>
	<% @titles.each do |title| %>
	<input type="checkbox" name="figure[title_ids][]" value="<%=title.id%>" id="title_<%=title.id%>"><%=title.name%></input>
	<% end %>


	<p>...and/or create a new title for your figure:</p>
	<label>New Title:</label>
	<input type="text" name="title[name]" id="new_title">


	<input type="submit" name="submit" id="submit" value="Create New Figure">
</form>